@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, section, textarea{
    font-family: 'Heebo', sans-serif;
}

body{
    background-color: #f7f7f7;
}

header{
    background-color: #ffff;
    height: 80px;
}

header #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
}

header #navbar .nav-brand{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333e2;
}

header #navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header #navbar .nav-list .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
    color: #55555550;
    transition: color 0.3s;

}


header #navbar .menu-ham{
    display: none;
}

@media (max-width: 740px){
    header #navbar .menu-ham{
        display: block;
    }
    header #navbar .nav-list {
        display: none;
    }
}

main {
    margin-top: 6rem;
}

main #banner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;

}

main #banner .banner-content .banner-content-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
main #banner .banner-content .banner-content-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
    margin-bottom: 38px;
}

main #banner .banner-content-btn {
    background-color: #00A8CC;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 24px;
    border: none;
}


main #banner  .banner-image {
    border-radius: 50%;
    width: 100%;
    max-width: 350px;
}

@media (max-width:920px){
    main #banner{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    main #banner .banner-content {
        text-align: center;
    }
}





section#posts {
    margin-top: 71px;
    background-color: #d4f3fc;
}
#posts .posts-content {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto

}

#posts .posts-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

}

#posts .posts-content .posts-content-header .section-title {
    font-size: 22px;
    font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all {
    text-decoration: none;
    color: #00a8cc;
}

#posts .posts-content .posts-cards{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}


#posts .posts-content .posts-cards .posts-card{
    background-color: #ffff;
    padding: 24px;

}

#posts .posts-content .posts-cards .posts-card h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 37px;
}

#posts .posts-content .posts-cards .posts-card span {
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 24px;
    display: block;
}


@media (max-width:740px) {
    #posts .posts-content .posts-cards{
        flex-direction: column;

    }

}